@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');


body {
  font-family: 'Raleway', sans-serif;
  @apply px-2
}
h1{
  font-weight: bolder;
  color: rgb(9, 9, 9);
  font-size: clamp(2rem, 2.3vw, 4rem);
}
h2 {

  font-weight: bold;
  color: rgb(39, 39, 39);
  font-size: clamp(1.2rem, 2vw, 3rem);
}
h3 {
  font-weight: bold;
  color: rgb(47, 47, 47);
  font-size: clamp(1.4rem, 2vw, 3rem);
}
.fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50%, -50%);
}

section{
    @apply container mx-auto mt-2 sm:mb-20 mb-16
}

.flex-center{
    @apply flex justify-center items-center
}
.flex-between{
    @apply flex justify-between items-center
}

.offer_card_title{
  font-weight: bold;
  color: rgb(47, 47, 47);
  font-size: clamp(1.2rem, 1.7vw, 1.8rem);
}

.primary-text{
  color: #333;
}
/* nav  */
/* #FFD700 */ 
/* #555 */










.airtel_color{
 color: red;
}
.robi_color{
 color: rgb(255, 83, 83);
}
.grameenphone_color{
 color: rgb(0, 149, 255);
}
.banglalink_color{
 color: orange
}
.teletalk_color{
 color: rgb(24, 255, 24);
}
.custom-button {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  color: white;
  background-color: #51e756;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.custom-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #00ff08;
  transition: width 3s ease; /* Background fills slowly over 3 seconds */
}

.custom-button:active::after {
  width: 100%;
}

.custom-button:not(:active)::after {
  transition: width 0.3s ease; /* Background disappears quickly over 0.3 seconds */
}
